@use 'base';

.MainContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainTop {
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.CreateBtns {
    width: 38%;
    display: flex;
    flex-direction: column;

    button {
        background-color: #404040;
        color: white;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 20px;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(40, 40, 40, 0.2);
        transition: opacity .1s linear, transform .1s linear;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            transform: scale(0.99);
        }
    }

    button+button {
        margin-top: 10px;
    }
}

.MainSubCenter {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
}

.MainSummary {
    width: calc(38% - 40px);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(40, 40, 40, 0.2);
    padding: 10px 20px;
    background-color: #404040;
    color: white;
}

.SummarySub {
    font-size: 20px;
    font-weight: 500;
    align-self: center;
}

.SummaryStep {
    margin-top: 10px;

    span {
        font-weight: 600;
    }
}

.MainObjects {
    width: calc(100% - 20px);
    padding: 20px 10px 10px 10px;
    border-top: solid 1px rgba(40, 40, 40, 0.1);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ObjectsSub {
    font-size: 26px;
    font-weight: 500;
}

.ObjectsSearch {
    width: calc(50% - 40px);
    max-width: 500px;
    margin: 10px 0 0 0;
    border: solid 1px rgba(40, 40, 40, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #404040;
    overflow: hidden;
}

.ObjectsSearch2 {
    width: 100%;
    margin: 5px 0 0 0;
    border: solid 1px rgba(40, 40, 40, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #404040;
    overflow: hidden;
}

.ObjectsIcon {
    margin: 0 10px 0 10px;
}

.ObjectsInput {
    margin: 0;
    padding: 10px 20px 10px 0;
    height: 100%;
    width: 100%;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #404040;
    outline: none;
    border: unset;
}

.ObjectsContainer {
    width: 930px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.ObjectsFigure {
    position: absolute;
    height: calc(100% - 30px);
    width: 100px;
    background-color: #404040;
    top: 30px;
    left: calc(50% - 50px);
}

.ObjectItem {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(40, 40, 40, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.ObjectFloor {
    // align-self: center;
    font-size: 14px;
}

.ObjectName {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
}

.ObjectTotal {
    margin-top: 20px;

    span {
        font-weight: 600;
    }
}

.ObjectView {
    margin: 10px 0 0 0;
    background-color: #404040;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: opacity .1s linear, transform .1s linear;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.99);
    }
}

.ObjectDelete {
    margin: 10px 0 0 0;
    background-color: rgb(152, 47, 47);
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    transition: opacity .1s linear, transform .1s linear;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.99);
    }
}

.CreateObjectModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DeleteObjectModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreateItemModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FilesModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CreateBox {
    width: 500px;
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: rgb(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #404040;
        border-radius: 10px;
    }
}

.CreateSub {
    font-size: 20px;
    font-weight: 500;
}

.CreateInput {
    margin: 0;
    padding: 10px 20px;
    width: calc(100% - 40px);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #404040;
    outline: none;
    border: solid 1px rgba(40, 40, 40, 0.3);
    border-radius: 10px;
}

.CreateObjectBtns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        width: calc(50% - 5px);
        margin: 0;
        padding: 10px 20px;
        color: white;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        border-radius: 10px;
        transition: opacity .1s linear, transform .1s linear;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            transform: scale(0.99);
        }
    }
}

.close {
    background-color: #404040;
}

.AddBtn {
    background-color: forestgreen;
}

.DeleteBtn {
    background-color: rgb(152, 47, 47) !important;
}

.StepNumber {
    opacity: 0.8;
}

.CheckBoxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        margin: 5px 10px 5px 0;
        cursor: pointer;

        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid rgba(40, 40, 40, 0.3);
        appearance: none;
        -webkit-appearance: none;
        outline: none;

        &:checked {
            background-color: forestgreen;
            border: 1px solid forestgreen;
        }
    }
}

.InputTip {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
}

.ChooseStepInputs {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px rgba(40, 40, 40, 0.3);
}

.ObjectsNotFound {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.FileInput {
    width: calc(100% - 2px);
    height: 100px;
    min-height: 100px;
    border: solid 1px rgba(40, 40, 40, 0.3);
    border-radius: 10px;
    position: relative;
    transition: background-color 0.1s linear;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .FileInfo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .FileText {
            display: flex;
            flex-direction: row;
            align-items: center;

            .FileTextLoad {
                margin-left: 5px;
            }
        }

        .FileClue {
            font-size: 12px;
            opacity: 0.7;
            margin-top: 5px;
            padding: 0 10px;
            text-align: center;
        }
    }

    .Showed {
        display: flex;
    }

    input {
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 !important;
        margin: 0 !important;
        opacity: 0;
        cursor: pointer;
    }
}

.FileClear {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    display: none;
}

.FileClear.Showed {
    display: block;
}

@media (max-width: 1000px) {
    .MainTop {
        flex-direction: column;
    }

    .CreateBtns {
        width: 100%;
    }

    .MainSubCenter {
        width: 100%;
        margin: 20px 0;
    }

    .MainSummary {
        width: calc(100% - 40px);
    }

    .ObjectsSearch {
        width: 350px;
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 970px) {
    .ObjectsContainer {
        width: calc(100% - 20px);
    }

    .ObjectItem {
        width: 38%;
    }

    .ObjectsFigure {
        width: 5%;
        left: 47.5%;
    }
}
@media (max-width: 530px) {
    .ObjectsContainer {
        flex-direction: column;
    }

    .ObjectItem {
        width: calc(100% - 40px);
    }

    .ObjectsFigure {
        display: none;
    }
}